.navbar-menu{
	margin-top: 4px;
}
.custom-container{
	max-width: 520px;
}
.special-link{
	float: right;
	position: relative;
}
.deactivate-account-link{
	top: -27px;
}
.forgot-password-link{
	top: -38px;
}