{% extends "base.html" %}

{% block content %}
<h4 class="title is-4">Account</h4>
<form>
	<div class="field">
		<p class="control has-icons-left has-icons-right">
			<input class="input" type="email" placeholder="Email" required="">
			<span class="icon is-small is-left">
	      		<i class="fas fa-envelope"></i>
	    	</span>
	    </p>
	</div>
	<div class="field">
		<p class="control has-icons-left has-icons-right">
			<input class="input" type="text" placeholder="First Name" required="">
			<span class="icon is-small is-left">
	      		<i class="fas fa-user-circle"></i>
	    	</span>
	    </p>
	</div>
	<div class="field">
		<p class="control has-icons-left has-icons-right">
			<input class="input" type="text" placeholder="Last Name" required="">
			<span class="icon is-small is-left">
	      		<i class="fas fa-user-circle"></i>
	    	</span>
	    </p>
	</div>	
	<div class="field">
		<p class="control">
			<input class="button is-primary" type="submit" value="Save"></input>
		</p>
	</div>	
</form>

<form>
	<div class="field">
		<div class="field">
			<p class="control is-size-7 special-link deactivate-account-link">
				<a href="/deactivate-account">Deactivate Account</a>
			</p>
		</div>
	</div>
</form>
{% endblock %}