<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>User Registration / Log In</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
		  <a class="navbar-item" href="https://timsnyder.me">
			<h4 class="title is-4">Demo App</h4>
		  </a>
		</div>
		<div id="navbarBasicExample" class="navbar-menu">
		  <div class="navbar-start">
			<a href="/" class="navbar-item">Home</a>
			<a href="/account" class="navbar-item">Account</a>
			<a href="/log-out" class="navbar-item">Log Out</a>
		  </div>
		</div>
	</nav>
	<section class="section">
		<div class="container custom-container">
			<div class="box">
			{% block content %}{% endblock %}
			</div>
		</div>
	</section>
</body>
</html>