{% extends "base.html" %}

{% block content %}
<h4 class="title is-4">Forgot Password</h4>
<form>
	<div class="field">
		<p class="control has-icons-left has-icons-right">
			<input class="input" type="email" placeholder="Email" required="">
			<span class="icon is-small is-left">
	      		<i class="fas fa-envelope"></i>
	    	</span>
	    </p>
	</div>
	<div class="field">
		<p class="control">
			<input class="button is-primary" type="submit" value="Send Password Reset Link"></input>
		</p>
	</div>
</form>
{% endblock %}