{% extends "base.html" %}

{% block content %}
<h4 class="title is-4">Home</h4>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quaerat perferendis inventore aperiam saepe tempora deleniti nemo, amet ex provident temporibus eaque repellat eius voluptate nisi reprehenderit itaque sequi obcaecati. Officiis dolores totam laboriosam quae recusandae, autem repellendus, quos non aspernatur ut reprehenderit natus velit magni pariatur. Aspernatur odit sapiente nisi expedita?</p>
{% endblock %}