{% extends "base.html" %}

{% block content %}
<h4 class="title is-4">Log In</h4>
<form method="post" action="/auth">
	<div class="field">
		<p class="control has-icons-left has-icons-right">
			<input class="input" type="email" placeholder="Email" required="">
			<span class="icon is-small is-left">
	      		<i class="fas fa-envelope"></i>
	    	</span>
	    </p>
	</div>
	<div class="field">
		<p class="control has-icons-left has-icons-right">
			<input class="input" type="password" placeholder="Password" minlength="8" required="">
			<span class="icon is-small is-left">
	      		<i class="fas fa-lock"></i>
	    	</span>
	    </p>
	</div>
	<div class="field">
		<p class="control">
			<input class="button is-primary" type="submit" value="Log In"></input>
		</p>
	</div>
	<div class="field">
		<div class="field">
			<p class="control is-size-7 special-link forgot-password-link">
				<a href="/forgot-password">Forgot Password?</a>
			</p>
		</div>
	</div>
</form>
{% endblock %}