{% extends "base.html" %}

{% block content %}
<h4 class="title is-4">Reset Password</h4>
<form>
	<div class="field">
		<p class="control has-icons-left has-icons-right">
			<input class="input" type="password" placeholder="New Password" minlength="8" required="">
			<span class="icon is-small is-left">
	      		<i class="fas fa-lock"></i>
	    	</span>
	    </p>
	</div>
	<div class="field">
		<p class="control has-icons-left has-icons-right">
			<input class="input" type="password" placeholder="Confirm New Password" minlength="8" required="">
			<span class="icon is-small is-left">
	      		<i class="fas fa-lock"></i>
	    	</span>
	    </p>
	</div>	
	<div class="field">
		<p class="control">
			<input class="button is-primary" type="submit" value="Log In"></input>
		</p>
	</div>
</form>
{% endblock %}